a{
    text-decoration: none;
    color: black;
    font-size: 10vmin;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: static;
}
.nlinks{
    margin-top: 25vh;
    text-align: center;
    position: relative;

}

p{
    text-align: center;
    color: dodgerblue;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}

.customize-fab{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
